//Kolory - tekst
 
@text-dark: #000;
@text-paragraph: #212121;
@text-light: #b6b6b6;
@text-lightest: #fff;
@footer-text-color: #727272;
@hover-color: #21aac2;

//Kolory - tło
@background-white: #fff;
@background-light-grey: #f5f5f5;
@footer-main: @text-dark;
@footer-secondary: #111;

//Kolory różne
@new: #143F6B;
@accent-dark: #ff7b0a;
@accent-light: #fe3a7d;
@accent-color: rgb(234, 146, 57);
@accent-two: rgb(243, 207, 24);
@accent-three: rgb(153, 245, 78);
@accent-four:rgb(236, 196, 14);

//Tekst - właściwości
@base-text-size: 14px;
@base-line-height: 24px;

// Zapytania o media
@small: ~'only screen and (min-width: 768px)';
@medium: ~'only screen and (min-width: 992px)';
@big: ~'only screen and (min-width: 1200px)';
@large: ~'only screen and (min-width: 1800px)';
