.card,
.card-register {
    background: linear-gradient(rgb(39, 184, 176), rgb(37, 37, 189));
}

.btn-danger,
.btn-block,
.btn-round {
    border: none;
    background-color: rgb(39, 184, 176);
}

.btn-link.btn-danger {
    color: #FFF;
}